:root {
  //Variables
  --header-text-color: white;

  --main-section-text-color: white;

  --color-text-secondary: white;

  --color-card-primary: #e02401;

  --color-card-secondary: #f76e11;

  --background-gradient: linear-gradient(to right bottom, #9ad0ec, #1572a1);

  --card-gradient: linear-gradient(
    to left top,
    var(--color-card-secondary),
    var(--color-card-primary)
  );

  --card-shadow: 0 0 6rem #0000005b;

  --image-border: 10px solid white;

  --popup-backgroud: linear-gradient(to right bottom, #395b64cd, #2c3333c4);

  --popup-content-backgroud: linear-gradient(to left top, #f76e11, #e02401);

  --popup-color-secondary: wheat;

  --popup-font-color: white;

  --popup-link-color: black;

  //--popup-color-secondary:darkseagreen;
  //--popup-color-secondary: deeppink;
  //--popup-color-secondary: deepskyblue;
  //--popup-color-secondary: tomato;
  //--popup-color-secondary: orangered;
  //--popup-color-secondary: #d40602;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 1.7;
}

html {
  font-size: 62.5%;

  @media only screen and (max-width: 100em) {
    //1600px
    font-size: 55%;
  }

  @media only screen and (max-width: 90em) {
    //1440px
    font-size: 45%;
  }

  @media only screen and (max-width: 59.375em) {
    //950px Mobile Ver
    font-size: 62.5%;
  }

  @media only screen and (min-width: 137.5em) {
    //2200px
    font-size: 65%;
  }

  @media only screen and (min-width: 150em) {
    //2400px
    font-size: 75%;
  }
}

//Utility classes
.content-max-width {
  width: 100%;
  max-width: 120rem;
}

//ANIMATIONS

@keyframes topLeft {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(2px, -3px);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(20rem);
  }

  100% {
    transform: translate(0);
    opacity: 1;
  }
}

@keyframes makeVisible {
  0% {
    opacity: 0;
  }

  100% {
    transform: translate(0);
  }
}

@keyframes spinListItem {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes moveBottomLeft {
  0% {
    transform: rotate(30deg) translate(0, 0);
  }
  50% {
    transform: rotate(30deg) translate(0, 10px);
  }
  100% {
    transform: rotate(30deg) translate(0, 0);
  }
}
