.header {
  color: var(--header-text-color);
  font-size: 1.2rem;
  letter-spacing: 0.5px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5rem;
  animation: makeVisible 1s 3s;
  animation-fill-mode: backwards;

  &__anchor,
  &__anchor:link,
  &__anchor:visited {
    color: inherit;
    text-decoration: none;
  }

  &__name-container {
    position: relative;
  }

  &__name-icon {
    transition: all 0.5s;
  }

  &__name-container:hover > &__name-icon {
    transform: rotateY(360deg);
  }

  &__name-text {
    margin-left: 2.5rem;
  }

  &__email-text {
    margin-right: 2.5rem;
  }

  &__icon {
    width: 1.6rem;
    height: 1.6rem;
    top: 0.4rem;
  }

  &__name-icon {
    left: 0.5rem;
  }

  &__email-icon {
    right: 0.5rem;
  }
}

.main {
  display: flex;
  justify-content: space-evenly;
  color: var(--main-section-text-color);
  font-weight: 700;
  cursor: default;

  @media only screen and (max-width: 59.375em) {
    //950px Mobile Ver
    flex-direction: column;
  }

  & > * {
    flex: 0 0 48%;
    @media only screen and (max-width: 59.375em) {
      //950px Mobile Ver
      flex: 1 1 auto;
      margin-bottom: 5rem;
    }
  }

  &__left {
    align-self: center;
    overflow: hidden;
  }

  &__localization {
    position: relative;
    color: var(--color-text-secondary);
    animation: makeVisible 1s 3s;
    animation-fill-mode: backwards;

    &-text {
      font-size: 1.2rem;
      margin-left: 2rem;
    }

    &-icon {
      height: 1.4rem;
      width: 1.4rem;
      left: 0.3rem;
      top: 0.4rem;
      transition: all 0.5s;
    }
  }

  &__localization:hover > &__localization-icon {
    transform: rotateY(360deg);
  }

  &__welcome {
    &-text {
      animation: moveInLeft 1s;
    }

    &-name {
      animation: moveInLeft 1s 1s;
      animation-fill-mode: backwards;
    }

    &-header {
      font-size: 6rem;
      font-weight: 400;
      line-height: 1.2;
      letter-spacing: 1px;
    }
  }

  &__description {
    margin: 1rem 0 3rem 0;

    &-text {
      display: block;
      font-size: 2.5rem;
      font-weight: 400;
      animation: moveInLeft 1s 2s;
      animation-fill-mode: backwards;
    }
  }

  &__indicator {
    margin-bottom: 3rem;

    animation: makeVisible 1s 4s;
    animation-fill-mode: backwards;

    &-icon {
      transform: rotate(30deg);
      margin-left: 20%;
      display: inline-block;
      height: 5rem;
      width: 5rem;
      fill: currentColor;
      animation: moveBottomLeft 1s linear 6s infinite;
    }
  }

  &__button-container {
    display: flex;
    flex-wrap: wrap;
    column-gap: 2.5rem;
    animation: makeVisible 1s 3s;
    animation-fill-mode: backwards;

    &:not(:last-child) {
      margin-bottom: 1.5rem;
    }
  }

  &__href,
  &__href:link,
  &__href:visited {
    color: inherit;
    text-decoration: none;
  }

  &__button {
    font-size: 1.3rem;
    letter-spacing: 1px;
    margin-bottom: .5rem;
  }

  &__button-text {
    font-weight: 500;
    margin-right: 2rem;
  }

  &__a-icon {
    height: 2rem;
    width: 2rem;
    right: 0.3rem;
    top: 0.4rem;
  }

  &__right {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    @media only screen and (max-width: 59.375em) {
      //950px Mobile Ver
      justify-content: center;
    }
  }

  &__image {
    display: block;
    width: 50rem;
    height: 50rem;
    @media only screen and (max-width: 34.375em) {
      //Under 550px
      width: 40rem;
      height: 40rem;
    }
    @media only screen and (max-width: 26.25em) {
      //Under 420px
      width: 30rem;
      height: 30rem;
    }
    object-fit: cover;
    object-position: center bottom;
    border: var(--image-border);
    border-radius: 50%;
    outline: solid white 0;
    animation: makeVisible 1s 3s;
    animation-fill-mode: backwards;
    transition: all 0.5s;
  }

  &__image:hover {
    border: none;
    outline: solid transparent 2rem;
    outline-offset: 3rem;
    transition: all 0.5s;
  }
}

.popup {
  opacity: 0;
  visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 1.3rem;
  color: var(--popup-font-color);

  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: var(--popup-backgroud);
  z-index: 999;

  transition: all 0.5s 0.3s;
  cursor: default;

  &:target {
    opacity: 1;
    visibility: visible;
    transition: all 0.5s;
  }

  &:target > &__content {
    transform: scale(100%);
    transition: all 0.5s;
  }

  //Instead of overscroll-behaviour which is not working in Safari.
  //Only for mobile versions
  &:target + .card {
    @media only screen and (max-width: 59.375em) {
      //950px Mobile Ver
      position: fixed;
      top: 0;
      overflow: hidden;
    }
  }

  &__exit,
  &__exit:link,
  &__exit:visited {
    position: absolute;
    top: 1rem;
    right: 1rem;
    color: var(--popup-font-color);
    text-decoration: none;
    font-size: 2rem;
    line-height: 1;
  }

  &__content {
    position: relative;
    padding: 1.5rem;
    background-image: var(--popup-content-backgroud);
    border-radius: 10px;
    max-width: 60%;
    @media only screen and (max-width: 59.375em) {
      //950px Mobile Ver
      max-width: 90%;
      height: 90%;
      max-height: 50rem;
      overflow: scroll;
      overscroll-behavior: contain;
    }

    transform: scale(0%);
    transition: all 0.5s;
  }

  &__tables {
    display: flex;
    justify-content: center;
    gap: 1%;
    margin-bottom: 2rem;
    line-height: 1.5;
  }

  &__table-container {
    flex: 0 0 48%;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__table-divider {
    width: 1px;
    background-color: currentColor;
  }

  &__table-header {
    color: white;
    margin-bottom: 2rem;
  }

  &__table {
    column-count: 2;
    column-gap: 5rem;
    @media only screen and (max-width: 59.375em) {
      //950px Mobile Ver
      column-count: 1;
    }
  }

  &__table-item {
    position: relative;
    display: block;
    break-inside: avoid-column;
    transition: all 0.5s;
    cursor: pointer;
    &:not(:last-child) {
      margin-bottom: 2px;
    }
  }

  &__table-item:hover {
    color: var(--popup-color-secondary);
  }

  &__table-item::before {
    content: "\2234";
    color: currentColor;
    line-height: 1;
    font-size: 2.5rem;
    font-weight: 900;
    position: absolute;
    width: 3rem;
    height: 3rem;
    top: -0.5rem;
    left: -2.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__table-item:hover::before {
    animation-name: spinListItem;
    animation-duration: 1.3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transform-origin: center 60%;
  }

  &__description {
    display: block;
    text-align: justify;
    text-justify: inter-word;
    padding: 1rem;

    cursor: default;
  }

  &__link,
  &__link:link,
  &__link:visited {
    color: var(--color-card-primary);
    text-decoration: none;
    font-weight: 500;
    border-radius: 5px;
    padding: 0.2rem;
    background-color: var(--popup-font-color);
    transition: all 0.5s;
  }

  &__link:hover {
    color: var(--popup-font-color);
    background-color: var(--color-card-primary);
  }
}

//SMALL COMPONENTS
.button {
  &--white {
    position: relative;
    padding-left: 0.4rem;
    border-radius: 2px;

    transition: all 0.3s;
  }

  &--white:hover {
    color: var(--color-card-primary);
    background-color: white;
  }

  &--white:hover > &-icon {
    animation: topLeft 1s infinite;
  }

  &-icon {
    fill: currentColor;
    position: absolute;
  }
}
