.header {
  color: var(--header-text-color);
  font-size: 1.2rem;
  letter-spacing: 0.5px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5rem;
  animation: makeVisible 1s 4s;
  animation-fill-mode: backwards;

  &__anchor,
  &__anchor:link,
  &__anchor:visited {
    color: inherit;
    text-decoration: none;
  }

  &__name-container {
    position: relative;
  }

  &__name-icon {
    transition: all 0.5s;
  }

  &__name-container:hover > &__name-icon {
    transform: rotateY(360deg);
  }

  &__name-text {
    margin-left: 2.5rem;
  }

  &__email-text {
    margin-right: 2.5rem;
  }

  &__icon {
    width: 1.6rem;
    height: 1.6rem;
    top: 0.4rem;
  }

  &__name-icon {
    left: 0.5rem;
  }

  &__email-icon {
    right: 0.5rem;
  }
}

.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  color: var(--main-section-text-color);
  font-weight: 700;
  cursor: default;

  &__left {
    flex: 0 0 48%;
    align-self: center;
  }

  &__localization {
    position: relative;
    color: var(--color-text-secondary);
    animation: makeVisible 1s 4s;
    animation-fill-mode: backwards;

    &-text {
      font-size: 1.2rem;
      margin-left: 2rem;
    }

    &-icon {
      height: 1.4rem;
      width: 1.4rem;
      left: 0.3rem;
      top: 0.4rem;
      transition: all 0.5s;
    }
  }

  &__localization:hover > &__localization-icon {
    transform: rotateY(360deg);
  }

  &__welcome {
    &-text {
      animation: moveInLeft 1s;
    }

    &-name {
      animation: moveInLeft 1s 1s;
      animation-fill-mode: backwards;
    }

    &-header {
      font-size: 6rem;
      font-weight: 400;
      line-height: 1.2;
      letter-spacing: 1px;
    }
  }

  &__description {
    margin: 1rem 0 7rem 0;

    &-text {
      display: block;
      font-size: 2.5rem;
      font-weight: 400;
      animation: moveInLeft 1s 2s;
      animation-fill-mode: backwards;
    }
  }

  &__button-container {
    display: flex;
    flex-wrap: wrap;
    column-gap: 2.5rem;
    animation: makeVisible 1s 4s;
    animation-fill-mode: backwards;

    &:not(:last-child) {
      margin-bottom: 1.5rem;
    }
  }

  &__href,
  &__href:link,
  &__href:visited {
    color: inherit;
    text-decoration: none;
  }

  &__button {
    font-size: 1.3rem;
    letter-spacing: 1px;
  }

  &__button-text {
    font-weight: 500;
    margin-right: 2rem;
  }

  &__a-icon {
    height: 2rem;
    width: 2rem;
    right: 0.3rem;
    top: 0.4rem;
  }

  &__right {
    flex: 0 0 48%;
    display: flex;
    justify-content: end;
    align-items: center;
  }

  &__image {
    display: block;
    width: 50rem;
    height: 50rem;
    object-fit: cover;
    object-position: center bottom;
    border: var(--image-border);
    border-radius: 50%;
    outline: solid white 0;
    animation: makeVisible 1s 4s;
    animation-fill-mode: backwards;
    transition: all 0.5s;
  }

  &__image:hover {
    border: none;
    outline: solid transparent 2rem;
    outline-offset: 3rem;
    transition: all 0.5s;
  }
}

.popup {
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: var(--popup-backgroud);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;

  &__exit,
  &__exit:link,
  &__exit:visited {
    position: absolute;
    top: -.5rem;
    right: .5rem;
    color: white;
    text-decoration: none;
    font-size: 5rem;
    line-height: 1;
  }

  &__content {
      position: relative;
      padding: 3rem;
      background-image: var(--popup-content-backgroud);
      border-radius: 5px;
      max-width: 60%;
  }

  &__tables {
      display: flex;
      //justify-content: space-between;
      gap: 1%;
  }

  &__table-container {
      //flex: 0 0 auto;
  }

}

//SMALL COMPONENTS
.button {
  &--white {
    position: relative;
    padding-left: 0.4rem;
    border-radius: 2px;

    transition: all 0.3s;
  }

  &--white:hover {
    color: var(--color-card-one);
    background-color: white;
  }

  &--white:hover > &-icon {
    animation: topLeft 1s infinite;
  }

  &-icon {
    fill: currentColor;
    position: absolute;
  }
}
