@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    background-color: #344150;
    font-family: 'Roboto', sans-serif;
    cursor: default;
}

::-webkit-scrollbar {
    display: none;
}

@media only screen and (min-width: 1000px) {
    .container {
        display: grid;
        min-height: 100vh;
        max-height: 100vh;
        height: 100vh;
        grid-template-columns: 100px 1fr;
        grid-template-rows: auto 100px 100px 100px auto;
        justify-items: stretch;
        grid-template-areas:
            ". main"
            "item1 main"
            "item2 main"
            "item3 main"
            ". main";
    }

    .welcome {
        grid-area: item1;
    }

    .me {
        grid-area: item2;
    }

    .contact {
        grid-area: item3;
    }
}

.welcome,
.me,
.contact {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #344150;
}
/* aktywny item */
.welcome:hover,
.me:hover,
.contact:hover {
    background-color: #0c1520;
}

@media only screen and (min-width: 1000px) {
    .active {
        background-color: #112031 !important;
    }
}

.active i {
    color: white !important;
}

.fas {
    color: white;
    font-size: xx-large;
}

.main {
    height: 100vh;
    max-height: 100vh;
    min-height: 100vh;
    grid-area: main;
    overflow: scroll;
}

.view {
    height: 100%;
    width: 100%;
    background-color: #112031;
    display: grid;
    grid-template-rows: 1fr auto 1fr;
    grid-template-areas:
        "."
        "tekst"
        ".";
    align-items: end;
}

.greeting {
    grid-area: tekst;
}

.greeting h1,
h2,
h3 {
    padding-left: 5%;
    margin: 0px;
    color: white;
    font-weight: 100;
}

.greeting h1 {
    font-size: 90px;
    margin-left: -5px;
    animation: shake 0.5s ease-in-out 0.5s;
}

.greeting h2 {
    font-size: 50px;
    margin-bottom: 10px;
    animation: shake 0.5s ease-in-out 1s;
}

.greeting h3 {
    font-size: 30px;
    animation: shake 0.5s ease-in-out 1.5s;
}

.greeting h3 i {
    margin-right: 5px;
}

@media only screen and (min-width: 1000px) {
    .view1 {
        height: 100vh;
        background-color: #112031;
        display: grid;
        grid-template-columns: min-content 2px 1fr;
        grid-template-rows: min-content;
        grid-template-areas: "left line right";
        align-content: center;
    }

    .left {
        grid-area: left;
        display: grid;
        grid-template-rows: repeat(3, auto);
        grid-template-columns: max-content;
        grid-template-areas:
            "subs"
            "name"
            "table";
        place-content: center;
        padding: 0px 40px;
    }

    .left h1,
    p {
        padding: 0px;
        margin: 0px;
    }

    .left h1 {
        color: white;
        font-size: 100px;
        font-weight: 400;
        grid-area: name;
        margin-top: -20px !important;
    }

    .left p {
        color: #aaa;
        font-size: 30px;
        font-weight: 100;
        grid-area: subs;
        justify-self: end;
        margin-right: 5px;
    }

    .lefttab {
        grid-area: table;
        text-align: left;
        color: #aaa;
        font-weight: 300;
        margin-left: 5px;
    }

    .lefttab th {
        padding-top: 10px;
        font-weight: 500;
    }

    .line {
        height: 0;
        min-height: 100%;
        background-color: #344150;
        grid-area: line;
    }

    .right {
        grid-area: right;
        padding: 0px 20px;
        color: #aaa;
        text-align: justify;
        height: 0;
        min-height: 100%;
        overflow: scroll;
    }

}

.view3 {
    height: 100vh;
    width: 100%;
    background-color: #112031;
    display: grid;
    grid-template-columns: 75%;
    place-content: center;
}

.view3 h1 {
    color: white;
    font-weight: 300;
}

.view3 i {
    padding-left: 5px;
}

@media only screen and (min-width: 1000px) {
    .gridform {
        display: grid;
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: auto 100px min-content;
        row-gap: 10px;
        grid-template-areas:
            "email email"
            "message message"
            "captcha button";

    }
}

.label {
    grid-area: label;
}

.email {
    grid-area: email;
}

.mess {
    grid-area: message;

}

.mess,
.email {
    background-color: #344150;
    color: #aaa;
    font-family: 'Roboto', sans-serif;
    border: none;
    border-radius: 5px;
    resize: none;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    padding: 5px;
}

.g-recaptcha {
    grid-area: captcha;
}

.sbutton {
    grid-area: button;
    height: 100%;
    width: 100%;
    align-self: start;
    justify-self: end;
    background-color: black;
    color: white;
    font-size: x-large;
    border: none;
    border-radius: 5px;

}

#notify button:hover,
.sbutton:hover {
    background-color: white;
    color: #344150;
    cursor: pointer;
}

.hidden {
    display: none;
}

#reply,
#reply p {
    text-align: center;
    color: white;
}

#inf {
    color: red;
}

.animatein {
    animation: toactive 1s ease-in-out;
}

.animateout {
    animation: toinactive 1s ease-in-out;
}

.languages {
    position: absolute;
    top: 5px;
    right: 5px;
}

.languages img {
    height: 20px;
    width: auto;
    padding-right: 5px;
}

#notify {
    position: absolute;
    bottom: 30px;
    right: 30px;
    width: auto;
    height: auto;
    font-weight: 300;
    font-size: small;
    display: none;
}

#notify .inf,
#notify button {
    box-sizing: border-box;
    color: #aaa;
    font-family: 'Roboto', sans-serif;
    background-color: #344150;
    width: 180px;
    padding: 5px;
    margin-bottom: 5px;
    border: none;
    border-radius: 5px;
}

@keyframes shake {
    0% {
        transform: translateX(0)
    }

    25% {
        transform: translateX(5px)
    }

    50% {
        transform: translateX(0px)
    }

    75% {
        transform: translateX(3px)
    }

    100% {
        transform: translateX(0)
    }
}


@keyframes toinactive {
    0% {
        background-color: #112031;
    }

    100% {
        background-color: #344150;
    }
}

@keyframes toactive {
    0% {
        background-color: #0c1520;
    }

    100% {
        background-color: #112031;
    }
}